[submodule "external/cpr"]
	path = external/cpr
	url = https://github.com/libcpr/cpr
[submodule "libsignal-protocol-c"]
	path = libsignal-protocol-c
	url = https://github.com/signalapp/libsignal-protocol-c
