[submodule "external/cpr"]
	path = external/cpr
	url = https://github.com/libcpr/cpr
[submodule "external/libsodium-internal"]
	path = external/libsodium-internal
	url = https://github.com/jagerman/libsodium-internal
